*+html .info ul li,
.info ul li a{
	display:inline;
	zoom:1;
}
*+html #footer ul{width:450px;}
#sidebar{filter: progid:dximagetransform.microsoft.alphaimageloader(src='images/bg-sidebar.jpg', sizingmethod='scale');}
*+html .info ul li{margin:0 0 0 62px;}
